@charset "utf-8";
/*다크모드 흉내내기*/
.btn-dark{
  position: fixed;
  right: 40px;
  bottom: 100px;
  width: 120px;
  border-radius: 18px;
  background-color: #fff;
  line-height: 36px;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
}
body.dark {
    color: #ccc;
    background-color: #222;
  }
  body.dark > a {
    color: #ccc;
  }
  body.dark .hd-wh-bg {
    background-color: #222222;
  }
  body.dark #hl-gnb > .depth2 {
    color: #ccc;
  }
  body.dark #hl-gnb a:hover {
    color: #fff;
  }
  body.dark #hl-header{
    background-color: #222;
    box-shadow: 0 2px 4px blur rgba(0, 0, 0, 0.3);
  }
  /* body.dark .hd-top {
    background-color: #222;
  } */
  body.dark #hl-mo-gnb {
    background-color: #222;
  }
  body.dark #hl-main {
    background-color: #222;
  }
  body.dark .depth2 {
    border-top-color: #555;
    border-left-color: #555;
    background-color: #222;
  }
  body.dark .depth1:hover .depth2 {
    background-color: #333;
  }
  body.dark .depth1 > a {
    border-color: #444;
    color: #ccc;
  }
  body.dark.depth1:last-child > a,
  body.dark .depth1:last-child .depth2 {
    border-right: 1px solid #555
  }
  /* main */
  body.dark .biz-card dt {
    color: #979494;
  }
  body.dark .ft-info, body.dark .ft-info a {
    color: #ccc;
  }
  body.dark .ft-info a:hover {
    color: var(--purple);
  }